.btn {
  padding: 12px 28px;
  border-radius: 999px; 
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary-custom {
  background-color:  #090706 ;
  color: #fff;

  transition: 
    background-color 0.25s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.btn-primary-custom:hover {
  background-color:  #ff8c42;
  color :#fff; /* tối hơn chút, không quá gắt */
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.btn-disabled-custom {
  opacity: 0.6;
  cursor: not-allowed;
}
