.animal-item {
  cursor: pointer;
}

.animal-bg-container {
  width: 140px;
  height: 140px;
}

.animal-bg-img {
  z-index: 0;
  object-fit: contain;
  transition: all 0.3s ease;
}

.animal-content {
  z-index: 1;
  width: 70%;
  height: 70%;
}

.animal-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.animal-icon-img {
  max-height: 60%;
  max-width: 60%;
  object-fit: contain;
}

.animal-icon-filter {
  filter: invert(68%) sepia(61%) saturate(4410%) hue-rotate(360deg) brightness(101%) contrast(106%);
}
